.close{display: none;}
.open{display: block;}
@media only screen and (min-width: 480px)  {
	.item_infor > span{
		top: 12px; 
	}
}
@media only screen and (max-width: 480px)  {
	#web-back{
		bottom: 2%;
		right: 12px;
	}
	#web-img img{
		width: 100%;
	}
	#web-nav{
		border-radius: 0px;
	}
	.web-nav_head{
		margin-left: 12px;
	}
	.current-comic{
		display: none;
	}
	#web-item { 
		display: grid;
		padding: 4px;
		grid-template-columns: repeat(2, 1fr);

	}
	.box-set_wrap{
		width: 300px;
	}
	.set_wrap-server > span{
		padding: 5px 12px;

	}

	#box-name_list{
		max-width: 280px;
		right: -80%;
	}
	.item_infor-name {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}
}
	
